.github/
.git/
**/.gitignore
**/__pycache__/
**/*.py[oc]
build/
wheels/
dist/
**/*.egg-info
**/*.cover
**/*.coverage
htmlcov/
.pytest_cache/
.test_report.json
docs/build

.ruff_cache/

.vscode/

.venv/

**/.tangent/

config.toml
config.yaml
config.yml
config.json

exosphere.db
exosphere.log
test_cache.db