# Dashboard host grid
HostGrid {
    grid-size: 4;
    grid-gutter: 2;
    align: center middle;
    content-align: center middle;

}

# Dashboard host widgets
.host-box {
    text-align: center;
    border: round;
}
.host-box.online {
    border: round green;
}
.host-box.offline {
    border: round red;
}
